/* Write your CSS here */
.app-container {
  background-color: #ffc2a0;
  height: 100vh;
  background-size: cover;
  display: flex;
  justify-content: center;
}

list-head-container {
  background-color: white;
  height: 100vh;
  width: 500px;
}

lists-container {
  background-color: white;
  height: 100vh;
  width: 500px;
}
